<h2>This is the Customer Component</h2>
<div class="region">
  <div class="col-md-6" [hidden]='formView'>
    <form #frm='ngForm' (ngSubmit)='submit()' class="form" ngNativeValidate>
      <div class="form-group">
        <label for="id"> Customer ID </label>
        <input type="number" name="customerId" class="form-control" required [(ngModel)]='tempCustomer.customerId'>
      </div>
      <div class="form-group">
        <label for="panNumber"> First Name </label>
        <input type="text" name="firstName" class="form-control" required [(ngModel)]='tempCustomer.firstName'>
      </div>
      <div class="form-group">
        <label for="firstName"> Last Name </label>
        <input type="text" name="lastName" class="form-control" [(ngModel)]='tempCustomer.lastName'>
      </div>
      <div class="form-group">
        <label for="score"> Email </label>
        <input type="email" name="email" class="form-control" required [(ngModel)]='tempCustomer.email'>
      </div>
      <div class="form-group">
        <label for="score"> Phone Number </label>
        <input type="number" name="phoneNumber" class="form-control" required [(ngModel)]='tempCustomer.phoneNumber'>
      </div>
      <button type="submit" class="btn btn-dark" > {{btnText}} <i class="fa fa-user-plus" aria-hidden="true"></i> </button>
    </form>
  </div>
  <div class="col-md-6">
    <button (click)="handleFormView(formView)" class="btn btn-secondary"> {{buttonText}} </button>
    <table class="table table-striped">
      <caption hidden='true'>Customer Table</caption>
      <tr>
        <th id="customerId">Customer ID</th>
        <th id="firstName">First Name</th>
        <th id="lastName">Last Name</th>
        <th id="email">Email</th>
        <th id="phoneNumber">Phone Number</th>
        <th id="edit">Edit</th>
        <th id="delete">Delete</th>
      </tr>
      <tr *ngFor="let eachCustomer of customerList">
        <td>{{eachCustomer.customerId}}</td>
        <td>{{eachCustomer.firstName|uppercase}}</td>
        <td>{{eachCustomer.lastName|uppercase}}</td>
        <td>{{eachCustomer.email}}</td>
        <td>{{eachCustomer.phoneNumber|number}}</td>
        <td> <button class="btn btn-dark" (click)="handleEdit(eachCustomer)"> <i class="fa fa-edit" aria-hidden="true"></i></button> </td>
        <td> <button class="btn btn-dark" (click)="handleDelete(eachCustomer)"> <i class="fa fa-trash-o" aria-hidden="true"></i> </button></td>
      </tr>
    </table>
  </div>
</div>
